node-linker=hoisted
optional=true
supportedArchitectures.os=linux
supportedArchitectures.cpu=x64
supportedArchitectures.libc=glibc
onlyBuiltDependencies=canvas
onlyBuiltDependencies=esbuild
onlyBuiltDependencies=@tailwindcss/oxide
